/* main styles */
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
/*gallery*/
.box{
    height:480px;
    width:100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.sm{
    height:320px;
}
/*sections*/
.md{
    height:480px;
    width:1000%;
}

